body{
display: flex;
margin:0px;
flex-direction:column;

}

.first-container {
    background-color: #1F2937;
    flex:1;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    color:#F9FAF8;
    justify-content:space-between;
    padding:8px 18px;
    align-items:flex-end;
    font-size:18px;
}

h1{
    margin:0px;
    padding:0px;
}

nav ul,a{
    text-decoration: none;
    list-style: none;
    color:#E5E7EB;
    display: flex;
    margin:0px;
    padding: 0px;
    gap: 16px;
    font-size:18px;
}

.text{
    display:flex;
    flex-direction:column;
    width: 450px;
    gap:5px;
    color:#F9FAF8;
    flex-shrink:1;

}

.content{
    display:flex;
    align-items: center;
    padding:115px 0px;
    gap: 25px;
    justify-content: center;
    
}

.content p{
    margin:0px;
    font-size: 18px;
    color:#E5E7EB
}

.content button{
    width:140px;
    height: 35px;
    background-color: #3882f6;
    color:#F9FAF8;
    border:none;
    border-radius: 8px;
    font-weight: bold;
    font-size:18px;
    display:flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size:48px;
    color:#F9FAF8;
    margin:0px;
}

img{
    height:250px;
    width:550px;
    flex-shrink:1;
    background-color: grey;
}

.second-container{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.title{
    font-size:36px;
    display: flex;
    justify-content:center;
    color:#1F2937;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.box{
    max-width:160px;
    display: flex;
    flex-direction:column;
    gap:5px;
    padding-bottom:100px;
}

.second-container .img{
    border: #3882f6 solid 5px;
    height:150px;
    width: 150px;
    border-radius: 15px;
    padding: 0px;
    margin: 0px;
}

.second-container .text{
    color:black;
    width: 98%;
    text-align: center;
    padding:0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
    display: flex;
    justify-content: center;
}

.third-container {
    background-color:#E5E7EB;
    display:flex;
    height:450px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.quote {
    font-size:36px;
    font-style: italic;
    color:#1F2937;
    font-weight:lighter;
    width:825px;

}

.third-container .author-tag {
    font-size:24px;
    font-weight:bold;
    display:flex;
    justify-content:flex-end;
    font-style:normal;
}

.fourth-container{
    display:flex;
    height: 0px;
    justify-content:center;
    align-items:center;
    padding: 250px 400px;
}

.call-to-action {
    background-color: #3882f6;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction:column;
    padding:50px 125px;
    color:#F9FAF8;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    box-sizing: border-box;
}

.call-to-action .sign-up-text{
    font-size: 18px;
    font-weight: normal;
    color:#E5E7EB;
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: flex-end;
    padding:0px;
    margin:0px;
}

.call-to-action .sign-up-button {
    width:140px;
    height: 35px;
    background-color: #3882f6;
    color:#F9FAF8;
    border:#F9FAF8 solid;
    border-radius: 8px;
    font-weight: bold;
    font-size:18px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer .footer-text{
    color: #E5E7EB;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

