body{
display: flex;
margin:0px;
flex-direction:column;
}

.container {
    background-color: #1F2937;
    flex:1;
}

.header{
    display: flex;
    color:white;
    justify-content:space-around;
    padding-top: 12px;
    align-items:flex-end;
}

h1{
    margin:0px;
    padding:0px;
}

.header ul,a{
    text-decoration: none;
    list-style: none;
    color:white;
    display: flex;
    margin:0px;
    padding: 0px;
    gap: 16px;
    font-size:18px;
}